yt-dlp
youtube_transcript_api
scenedetect
opencv-python
argparse
pathlib
git+https://github.com/huggingface/transformers 
accelerate
flask
flash-attn --no-build-isolation
pillow 
qwen-vl-utils[decord]
pydub
whisper-ctranslate2