yt-dlp
youtube_transcript_api
scenedetect
opencv-python
argparse
pathlib
transformers
flask
pillow 
torch 
torchvision 
torchaudio
git+https://github.com/openai/whisper.git 
qwen-vl-utils[decord]==0.0.8